<h1>Hefaistus <%= @version %></h1> 
<h3><%=link_to "Home", "/" %>
<h2>Listagem de Servidores</h2>

<table>
  <tr>
    <th>Nome do Servidor</th>
    <th>Endereço de IP</th>
    <th>Porta SSH</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @servers.each do |server| %>
  <tr>
    <td><%= server.name %></td>
    <td><%= server.ip %></td>
    <td><%= server.ssh_port %></td>
    <td><%= link_to 'Dados do servidor', server %></td>
    <td><%= link_to 'Editar', edit_server_path(server) %></td>
    <td><%= link_to 'Excluir', server, confirm: 'Tem certeza que deseja excluir?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Servidor', new_server_path %>

<hr>
