<!DOCTYPE html>
<html>
<head>
  <title>Hefaistus</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<% if flash.now[:notice] %>
      <%= flash.now[:notice] %>
    <% elsif flash.now[:error] %>
      <%= flash.now[:error] %>
    <% end %>

	<%= yield %>

</body>
</html>
